body {
  background-color: #424242;
}

.loader {
  border: 8px solid #202020;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  margin-top: 20%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); border-top: 8px solid #3498db;}
  50% {border-top: 8px solid #d764ee;}
  100% { transform: rotate(360deg); border-top: 8px solid #3498db;}
}

.loadText {
  color: white;
  font-size: 36px;
  font-family: "Rubik";
  font-weight: 400;
  text-align: center;
}

.selector{
  background-color: darkgray;
  width: 100%;
  cursor: pointer;
}

.menu{
  padding-left: 4%;
  width: 96%;
  background-color: lightgray;
}

.plaintext{
  color: black;
  text-decoration: none;
}

#debug{
  box-shadow: 2px 2px 4px #333333;
}

#menus{
  
}

p{
  margin: 0;
  font-family: monospace;
}
