
/* Font by Zacchary Dempsey-Plante */
@font-face{ 
	font-family: 'Pixellari';
	src: url('docs/Pixellari.ttf');
}

body {
  background-color: #424242;
  user-select: none;
}

button {
  outline: none;
}

img {
  -webkit-user-drag: none;
  -moz-window-dragging: none;
}

#load {
  background-color: #424242;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.loader {
  border: 8px solid #202020;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  margin-top: 20%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); border-top: 8px solid #3498db;}
  50% {border-top: 8px solid #d764ee;}
  100% { transform: rotate(360deg); border-top: 8px solid #3498db;}
}

.loadText {
  color: white;
  font-size: 36px;
  font-family: "Rubik";
  font-weight: 400;
  text-align: center;
}

.selector{
  background-color: darkgray;
  width: 100%;
  cursor: pointer;
  transition: background-color 200ms;
}
.selector:hover{
  background-color: rgb(145, 145, 145);
}

.menu{
  padding-left: 4%;
  width: 96%;
  background-color: lightgray;
}

.plaintext{
  color: black;
  text-decoration: none;
}

#debug{
  box-shadow: 2px 2px 4px #333333;
}

#menus{
  
}

p{
  margin: 0;
  font-family: monospace;
}

#slideMenuLeft{
  position: absolute;
  width: 14%;
  right: 98%;
  height: 102%;
  top: -1%;
  background-color: rgb(243, 205, 155);
  transition: right 200ms;
  z-index: 4;
}

#slideMenuRight{
  position: absolute;
  width: 30%;
  left: 70%;
  height: 102%;
  top: -1%;
  background-color: rgb(243, 205, 155);
  transition: left 300ms;
  z-index: 4;
}

.hotbarButton{
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding-top: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  margin-top: 8px;
  background-color: rgb(100, 100, 133);
  border: 3px solid black;
  transition: background-color 250ms, border 250ms, top 150ms, left 100ms;
}



.hotbarButton img{
  -webkit-filter: blur(0.1px); 
  -moz-filter: blur(0.1px); 
  -ms-filter: blur(0.1px);
  filter: blur(0.1px);
  user-select: none;
  position: absolute;
  width: 90%;
  height: 90%;
  left: 0%;
  top: 0%;
  transform: translate(-50%, -50%);
  margin-left: 50%;
  margin-top: 52%;
  transition: 50ms;
}

.hotbarButton:hover img{
  user-select: none;
  position: absolute;
  transform: translate(-50%, -50%) rotate(5deg);
  margin-top: 42%;
  transition: 100ms; 
}

.clickityElement{
  animation-name: clickity;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

@keyframes clickity {
  40% {margin-top: 60%; transform: translate(-50%, -50%) rotate(10deg);}
  60% {margin-top: 60%; transform: translate(-50%, -50%) rotate(10deg);}
  100% {margin-top: 42%;}
}

.hotbarMenuVertical {
  width: 80px;
  height: 100%;
  position: absolute;
  top: 2%;
  left: 2%;
  transition: height 400ms;
}

.hotbarMenuHorizontal{
  position: absolute;
  height: 80px;
  width: 100%;
  transition: background-color 250ms, top 150ms, left 100ms;
}

#centerDisplay{
  display: none;
  left: 30%;
  top: 35%;
  width: 40%;
  height: 40%;
  opacity: 0;
  position: absolute;
  background-color: rgb(255, 227, 193);
  border: 2px solid rgb(88, 36, 6);
  box-shadow: 0px 0px 0px 600px rgba(0, 0, 0, 0.6);
  transition: top 250ms, opacity 200ms;
  overflow: scroll;
  z-index: 2;
}
/* 
#centerDisplay::after{
  content: "";
  position: fixed;
} */

#searchResults button{
  width: 80%;
  border: none;
  background-color: darkgray;
  transition: background-color 200ms;
}

#searchResults button:hover{
  background-color: gray;
}

#monitoring button{
  width: 100%;
  border: none;
  background-color: lightblue;
  transition: background-color 200ms;
}

#monitoring button:hover{
  background-color: lightskyblue;
}

.leftSpan{
  float: left;
}

.rightSpan{
  float: right;
}

.tooltip{
  font-family: "Pixellari";
  position: absolute;
  background-color: rgb(255, 227, 193);
  border: 1px solid black;
  margin: 0px;
  max-width: 250px;
  padding-right: 2px;
  padding-top: 2px;
  margin-left: -2px;
  margin-bottom: -2px;
  z-index: 5;
}

.tooltip img{
  width: 32px;
  height: 32px;
}

.tooltipLink{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.tooltipRange{
  position: absolute;
  border: 2px solid red;
  width: 20px;
  height: 20px;
  z-index: 4;
  background-color: transparent;
  cursor: pointer;
}

.tooltipBannerButton{
  font-family: "Pixellari";
  width: 252px;
  padding: 4px;
  padding-bottom: 0px;
  margin: 0px;
  margin-top: -2px;
  font-size: 24px;
  text-align: left;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: rgb(255, 227, 193);
  transition: background-color 200ms;
}

.tooltipBannerButton:hover{
  background-color: rgb(212, 190, 162);
}